.ExampleContainer{
font-family: Cookie;
}

.ExampleContainer{
font-size: 36px;
}

.ExampleContainer{
color: #EF3B3A;
}

.ExampleContainer{
font-style:italic;
}

.ExampleContainer{
float: left;
}

.ExampleContainer{
clear:left;
float:left;
}

.ExampleContainer{
margin-left:25%;
}

.ExampleContainer{
margin-left:25%;
margin-right:25%;
width:50%;
}

.ExampleContainer{
column-count:2;
}

.Examplecontainer{
  position: absolute;
}



